.buttons {
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homeBtn {
    margin: 40px 0;
    width: 200px;
}