.buttons {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputLogin{
    align-self: center;
    min-width: 300px!important;
}

.button {
    align-self: center;
    width: 16rem;
}

.errorMsg {  
    margin-top: 10px;
    color: red;
    font-weight: bold;
    font-size: 17px;
}