.featuresButton, .featuresButtonAdd {
    margin-right: 30px;
    height: 40px;
    margin-top: 31px;
}

.finishButton {
    margin-left: 30px;
    width: 200px;
}

.dropdownSelect {
    width: 300px;
    margin-top: 30px!important;
}

.featuresOverlay {
    margin-left: 30px;
}


.featuresButtonAdd {
    margin-left: -30px
}

.imageUploader {
    margin-top: 12px;
}