.featuresButton, .featuresButtonAdd {
    margin-right: 30px;
    height: 40px;
    margin-top: 31px;
}

.finishButton {
    margin: 0 40%;
    width: 200px;
}

.featuresOverlay {
    margin-left: 30px;
}


.featuresButtonAdd {
    margin-left: -30px
}

.imageUploader {
    margin-top: 17px;
}


@media(min-width: 1881px ){
    .formRow4Columns {
        display: flex;
        flex-direction: row;
        min-height: 150px;
    }
}

.ant-card-body {
    border: rgba(0, 0, 0, 0.100);
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    border-radius: 20px;
}

.inputForm {
    margin: 30px!important;
}

.upload {
    margin: 30px!important;
}