.listCard > .card {
    background-color: #FFCCCC;
    width: 80%;
    left: 10%;
    padding: 15px;
    border-width: 0px;
    border-width: 1px;
    border-style: solid;
}

.vehicle > .list-group-item {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItemBtn > .ant-btn {
    margin-left: 20px;
    width: 150px;
    height: 50px;
}